<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
</head>
<body>
    <form action="/contact" method="post">
        <input name="message">
        <input type="submit">
    </form>
    <br>
    <form action="/banner" method="post">
        <input name="message">
        <input type="submit">
    </form>
    <br>
    <form action="/raw" method="post">
        <input name="message">
        <input type="submit">
    </form>
    <br>
    <form action="/clr" method="get">
        <h3>Clear</h3>
        <input type="submit">
    </form>
</body>
</html>